body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255, 123, 137);
  background: linear-gradient(
    295deg,
    rgba(255, 123, 137, 1) 0%,
    rgba(179, 0, 34, 1) 78%
  );
}

fieldset {
  border: 3px solid rgb(255, 123, 137);
  padding-top: 25px;
}
legend {
  border: 1px solid rgb(255, 123, 137);
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 123, 137);
  border-radius: 8px;
}

/* Retira o fundo branco do navegador que fica apos o autocompleat de campos e seta a fonte branca */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white!important;
  -webkit-box-shadow:none;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

a{
  color: white;
  text-decoration: none;
  padding: 3px;
  border: 3px solid rgba(255, 123, 137, 1) ;
  border-radius: 5px;

}
a:hover{
  background: rgb(255, 123, 137);
  background: linear-gradient(
    295deg,
    rgb(255, 10, 35) 0%,
    rgb(255, 4, 50) 78%
  );
}

#container {
  /* Centraliza todo o conteudo na pagina */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 15px;
  width: 25%;
  color: white;
  min-width: 400px;
  min-height: 600px
}

#data_nascimento {
  border: none;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}

#submit {
  background: rgb(255, 123, 137);
  background: linear-gradient(
    295deg,
    rgba(255, 123, 137, 1) 0%,
    rgba(179, 0, 34, 1) 78%
  );
  border-radius: 10px;
  width: 100%;
  border: none;
  padding: 20px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

#submit:hover{
  background: rgb(255, 123, 137);
  background: linear-gradient(
    295deg,
    rgb(255, 10, 35) 0%,
    rgb(255, 4, 50) 78%
  );
}

.inputbox {
  position: relative;
}

.input-user {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  width: 100%;
  letter-spacing: 2px;
}
.move-label {
  position: absolute;
  top: 0px;
  left: 0px;
  /* Ao clicar em qualquer parte do label o mesmo vai permitir realizar o movimento */
  pointer-events: none;
  transition: 0.5s;
}
/* Quando o input esta em foco o mesmo move o texto da label */
.input-user:focus ~ .move-label,
.input-user:valid ~ .move-label /* Quando o Campo se tornar valido o mesmo vai manter o texto logo acima  */ {
  top: -20px;
  font-size: 14px;
  color: rgb(255, 123, 137);
}
